$board-color1: #1ebad6;
$board-color2: black;
$board-font: 'Shadows Into Light', cursive;
$message-font: Arial,Helvetica,sans-serif;

body{
  background-image: url("../img/tron.jpg");
  background-repeat: repeat;
  background-position:0px, -300px; 
}

table{
  background-color: $board-color2;
  padding: 10px;
  margin-top: 5px;
  border-radius:10px;
}

td{
  border-color: $board-color1;
  border-style:solid;
  border-width:2px;
  border-radius:4px;
}

header{
  font-family: $board-font;
  font-size: 76px;
  text-align: center;
  color: $board-color1;
  cursor: pointer;
}

button{
  margin: 10px;
  font-size: 16px;
  background-color: $board-color1;
}

.gameButton{
  text-align: center;
  button{
    width: 140px;
    font-size: 22px;
    font-family: $board-font;
    background-color: transparent;
    border: none;
    color:$board-color1;
    margin: 0px;
  }
}

.inputBox{
  text-align: center;
  width: 30px;
  height:30px;
  border:0px;
  font-family: $board-font;
  font-size: 20px;
  background: transparent;
}

.sectionOdd{ 
  background-color: $board-color1;
  .inputBox{
    color: $board-color2;
  }
}

.sectionEven{
  .inputBox{
    color: $board-color1;
  }
} 

.wrongAnswer{
  border-color: red;
}

.hint{
  border-color: yellow;
}

.complete{
  background: $board-color2;
  width: 34%;
  font-family: $message-font;
  font-size: 24px;
  color: $board-color1;
  top: 265px;
  left: 50%;
  margin-left:-17%;
  position: fixed;
  text-align: center;
}

.level{
  background: $board-color2;
  width: 50%;
  font-family: $message-font;
  font-size: 24px;
  color: $board-color1;
  top: 265px;
  left: 50%;
  margin-left: -25%;
  position: fixed;
  text-align: center;
}

