$board-color1: #1ebad6;
$board-color2: black;
$board-font: 'Shadows Into Light', cursive;
$message-font: Arial,Helvetica,sans-serif;

body{
  background-image: url("../img/tron.jpg");
  background-repeat: no-repeat;
  background-position:0px, -300px; 
}

.bg {position:fixed; top:0; left:0; width:100%; height:100%;}

td{
  border-color: $board-color1;
  border-style:solid;
  border-width:2px;
  border-radius:4px;
}

header{
  font-family: $board-font;
  font-size: 80px;
  text-align: center;
  color: $board-color1;
}

.gameButton{
  text-align: center;
  button{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 28px;
    font-family: $board-font;
    background-color: transparent;
    border: none;
    color:$board-color1;
    cursor: pointer;
  }
}

.gameboard{
  background-color: $board-color2;
  padding: 10px;
  height: 360px;
  width: 360px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-color: Black;
  border-style:solid;
  border-width:2px;
  border-radius:10px;

}

.inputBox{
  text-align: center;
  width: 30px;
  height:30px;
  border:0px;
  font-family: $board-font;
  font-size: 20px;
  background: transparent;
}

.sectionOdd{ 
  background-color: $board-color1;
  .inputBox{
    color: $board-color2;
  }
}

.sectionEven{
  .inputBox{
    color: $board-color1;
  }
} 

.wrongAnswer{
  border-color: red;
}

.message{
  background: $board-color2;
  width: 360px;
  font-family: $message-font;
  font-size: 24px;
  color: $board-color1;
  margin-left: auto;
  margin-right: auto;
  top: 290px;
  position: fixed;
  text-align: center;
  button{
    margin: 10px;
    font-size: 12px;
    background-color: $board-color1;
  }
}

