body {
  background-image: url("../img/tron.jpg");
  background-repeat: repeat;
  background-position: 0px, -300px; }

table {
  background-color: black;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px; }

td {
  border-color: #1ebad6;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px; }

header {
  font-family: 'Shadows Into Light', cursive;
  font-size: 76px;
  text-align: center;
  color: #1ebad6;
  cursor: pointer; }

button {
  margin: 10px;
  font-size: 16px;
  background-color: #1ebad6; }

.gameButton {
  text-align: center; }
  .gameButton button {
    width: 140px;
    font-size: 22px;
    font-family: 'Shadows Into Light', cursive;
    background-color: transparent;
    border: none;
    color: #1ebad6;
    margin: 0px; }

.inputBox {
  text-align: center;
  width: 30px;
  height: 30px;
  border: 0px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  background: transparent; }

.sectionOdd {
  background-color: #1ebad6; }
  .sectionOdd .inputBox {
    color: black; }

.sectionEven .inputBox {
  color: #1ebad6; }

.wrongAnswer {
  border-color: red; }

.hint {
  border-color: yellow; }

.complete {
  background: black;
  width: 34%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #1ebad6;
  top: 265px;
  left: 50%;
  margin-left: -17%;
  position: fixed;
  text-align: center; }

.level {
  background: black;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #1ebad6;
  top: 265px;
  left: 50%;
  margin-left: -25%;
  position: fixed;
  text-align: center; }
