body {
  background-image: url("../img/tron.jpg");
  background-repeat: no-repeat;
  background-position: 0px, -300px; }

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

td {
  border-color: #1ebad6;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px; }

header {
  font-family: 'Shadows Into Light', cursive;
  font-size: 80px;
  text-align: center;
  color: #1ebad6; }

.gameButton {
  text-align: center; }
  .gameButton button {
    width: 120px;
    font-size: 24px;
    font-family: 'Shadows Into Light', cursive;
    background-color: transparent;
    border: none;
    color: #1ebad6;
    cursor: pointer; }

.gameboard {
  background-color: black;
  padding: 10px;
  height: 360px;
  width: 360px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-color: Black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px; }

.inputBox {
  text-align: center;
  width: 30px;
  height: 30px;
  border: 0px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  background: transparent; }

.sectionOdd {
  background-color: #1ebad6; }
  .sectionOdd .inputBox {
    color: black; }

.sectionEven .inputBox {
  color: #1ebad6; }

.wrongAnswer {
  border-color: red; }

.hint {
  border-color: yellow; }

.complete {
  background: black;
  width: 360px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #1ebad6;
  margin-left: auto;
  margin-right: auto;
  top: 290px;
  position: fixed;
  text-align: center; }
  .complete button {
    margin: 10px;
    font-size: 12px;
    background-color: #1ebad6; }

.level {
  background: black;
  width: 360px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #1ebad6;
  margin-left: auto;
  margin-right: auto;
  top: 290px;
  position: fixed;
  text-align: center; }
  .level button {
    margin: 10px;
    font-size: 12px;
    background-color: #1ebad6; }
