.inputBox {
  text-align: center;
  color: #1ebad6;
  width: 40px;
  height: 40px;
  border: 0px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px; }

.sectionOdd {
  background-color: #1ebad6;
  color: white; }

.sectionEven {
  background-color: #1ebad6; }
